body {
    position: relative;
}
.full-div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
}

.full-div video {
    height: 100%;
    width: 100%;
}

#notify { 
    display: none;
    position: absolute;
    font-size: 20px;
    top: 15px;
    left: 200px;
    z-index: 100;
}